@font-face
{
    font-family: "CustomFont";
    src: url(./Fonts/Roboto/Roboto-Medium.ttf);
}

*
{
    margin: 0;
    padding: 0;
    font-family: "CustomFont";
}

.content
{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.4fr 3.6fr;
}

.flex  /*All items with a flex class will have a flex display*/
{
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
}

.grid
{
    display: grid;
}

/****************Header Section****************/
.header
{
    background-color: rgb(255, 255, 255);
    grid-column: 2/-1;
    grid-row: 1/2;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding: 24px;
    gap: 24px;
    position: relative;
    z-index: 10;
    box-shadow: 0 6px 5px rgb(183, 180, 180)
}

.search
{
    margin-left: 28px;
}

.Search_Icon
{
    width: 38px;
    height: 38px;
    margin-left: -8px;
}

.Search_Bar
{
    background-color: rgb(221, 220, 220);
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 80%;
    font-size: 22px;
    padding-left: 16px;
}

.profile_and_notification
{
    font-size: 26px;
    font-weight: 700;
    margin-right: 65px;
    gap: 20px;
    justify-content: flex-end;
}

.Small_Profile_Icon
{
    width: 46px;
    height: 46px;
}

.Bell
{
    margin-right: -10px;
}

.Profile_Name
{
    font-size: 18px;
}

.Big_Profile_Icon
{
    width: 70px;
    height: 70px;   
    margin-left: -18px;
}

.profile_and_name
{
    margin-left: 25px;
}

.Greetings /*Div*/
{
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
}

.greeting
{
    font-size: 16px;
    font-weight: 700;
}

.Big_Profile_Name
{
    font-size: 24px;
    font-weight: 700;
}

.action_buttons
{
    margin-top: 24px;
    gap: 30px;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 50px;
}

.btn
{
    background-color: #3882F6;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    width: 100px;
    height: 35px;
}

/****************Sidebar Section****************/
.sidebar
{
    grid-template-rows: 90px 260px 300px;
    gap: 65px;
    background-color: #627089;
    grid-column: 1/2;
    grid-row: 1/-1;
    padding-right: 25px;
}

.dashboard
{
    margin-top: 20px;
    margin-left: 20px;
}

.dashboard p
{
    font-size: 28px;
    font-weight: 500;
}

.logo
{
    width: 36px;
    height: 36px;
    margin-right: 5px;
}

.Icon
{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.dashboard_options
{
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 24px;
    margin-left: 28px;
    font-size: 20px;
    font-weight: 500;
    margin-top: -30px;
}

/****************Project Display Section****************/
.main_content
{
    background-color: rgb(237, 237, 237);
    grid-column: 2/-1;
    grid-row: 2/-1;
    grid-template-columns: 1fr 0.4fr;
    padding-top: 30px;
    padding-right: 20px;
    gap: 30px;
}

.Content_Title,
.Trending_Title
{
    font-size: 28px;
    font-weight: 700;
}

.Left_Content
{
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    margin-left: 30px;
    align-items: start;
}

.Content_Title_div
{
    align-self: start;
}

.Projects
{
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 475px;
    gap: 30px;
    justify-items: stretch;
}

.Project_Content
{
    flex-direction: column;
    box-shadow: 6px 6px 5px rgb(183, 180, 180);
    border-radius: 15px;
    border-left: 12px #627089 solid;
    background-color: rgb(255, 255, 255);
    overflow: hidden;  /*Prevents issue of missing row gaps when zooming in all the way*/
}

.Project_Img
{
    width: 100%;
    height: 60%;
}

h3,
.Project_Description
{
    width: 100%;
    text-align: left;
    margin-left: 18px;
}

.Project_Description
{
    overflow: hidden;
}

.Action_icons
{
    margin-right: 32px;
    margin-top: 16px;
    align-self: flex-end;
    flex-shrink: 1;
}

.Right_Content
{
    flex-direction: column;
    align-items: stretch;
    margin-right: 30px;
}

.Announcement_Content_div
{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-content: stretch;
    background-color: #fff;
    padding: 0px;
    box-shadow: 6px 6px 5px rgb(183, 180, 180);
    border-radius: 15px;
    height: 28.3%;
    margin-top: 5px;
}

.Announcement_div,
.Announcement_div_special
{
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-bottom: 1px rgb(209, 203, 203) solid;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

.Announcement_div_special
{
    border-bottom: none;
}

.Announcement_div:hover,
.Announcement_div_special:hover
{
    background-color: aqua;
}

.Announcement
{
    font-size: 20px;
    font-weight: 600;
    margin-top: -15px;
}

.Announcement_Description
{
    font-size: 14px;
    margin-top: -5px;
}

.Trending_Title
{
    margin-top: 50px;
}

.Trendng_Content
{
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 50px 10px 50px 40px;
    gap: 40px;
    box-shadow: 6px 6px 5px rgb(183, 180, 180);
    border-radius: 15px;
    justify-items: stretch;
    background-color: white;
}

.User_Icon
{
    width: 70px;
    height: 70px;   
    margin-right: 10px;
}

.User_Name
{
    font-size: 24px;
    font-weight: 600;
}

.Project_Name
{
    font-size: 20px;
    margin-top: 8px;
}